@font-face
  font-family: Jura
  src: url("../fonts/Jura.ttf")

.button
  border-radius: 11rem
  display: flex
  align-items: center
  justify-content: center
  min-width: 25rem
  min-height: 9rem
  grid-row: 0/1
  grid-column: 2/3
  &__text
    display: inline-block
    font-family: Jura
    font-size: 3.6rem
  &__green
    border: .1rem #94D742 solid
  &:hover
    background-color:#94D742
    color: white
    transition: all .05s
